<div class="<%= style['main-navblock']%>">
    <a href="#" class="<%= style['burger-wrapper'] %>">
        <div class="<%= style['burger'] %>"></div>
    </a>
    <div class="<%= style['nav-container'] %>">
        <div class="<%= style['accountBtn']%>">
            <a href="//user.oneapm.com/pages/v2/login_ci" id="loginIn" class="<%= style['loginIn'] %> <%= style['btn'] %>">登录</a>
            <a href="//cloud.oneapm.com/user/register" id="signUp" class="<%= style['signUp'] %> <%= style['btn'] %>">注册</a>
        </div>
        <div class="<%= style['accountInfo']%>">
            <div class="<%= style['infoBox']%>">
                <span>蓝海讯通科技有限公司</span>
                <i class="<%= style['xiajiantou']%>"></i>
            </div>
            <ul class="<%= style['info']%>">
                <div class="<%= style['infoList']%>"></div>
                <li class="<%= style['clearfix']%>">
                    <p>
                        <a class="<%= style['changeAccount']%>">
                            <i class="<%= style['jiahao']%>"></i>
                            <span>登录到其他账号</span>
                        </a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
