<div class="<%= style['main-navblock']%>">
    <a href="#" class="<%= style['burger-wrapper'] %>">
        <div class="<%= style['burger'] %>"></div>
    </a>
    <div class="<%= style['nav-container'] %>">
        <a href="//cloudinsight.oneapm.com/product/product.html">产品</a>
        <a href="//docs-ci.oneapm.com">文档</a>
        <a href="//cloudinsight.oneapm.com/about/group.html">关于</a>
        <a href="//cloudinsight.daoapp.io/">技术博客</a>
        <a href="//user.oneapm.com/pages/v2/login" id="loginIn" class="<%= style['loginIn'] %> <%= style['btn'] %>">登录</a>
        <a href="//user.oneapm.com/pages/v2/signup/" id="signUp" class="<%= style['signUp'] %> <%= style['btn'] %>">注册</a>
    </div>
</div>
